@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(230 230 230);
  background: rgb(156, 94, 0);
}

a {
  color: inherit;
  text-decoration: none;
}

.leaflet-popup-content {
  margin: 13px 10px 13px 6px;
  line-height: 1.3;
  font-size: 13px;
  font-size: 1.08333em;
  min-height: 1px;
}
